################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC_Test_Zone/RaidFinder/.vs/
/.vs/
/MVC_Test_Zone/.vs/
/MVC_Test_Zone/RaidFinder/bin/
/MVC_Test_Zone/RaidFinder/obj/
/MVC_Test_Zone/RaidFinder/Properties/
