@using RaidFinder.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model User

@* <form method="post" asp-controller="user" asp-action="editstat">
    <input type="hidden" asp-for="UserId" />
    <b>Name </b><input type="text" asp-for="Name" /><br />
    <b>Level </b><input type="text" asp-for="Stat.Level" /><br />
    <b>PLV </b><input type="text" asp-for="Stat.PowerLevel" /><br />
    <b>Class </b><input type="text" asp-for="Stat.Class" /><br />
    <input type="submit" value="Save" />
</form> *@

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/lib/css/EditProfile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="MainBox">
            <div class="Image">
                <p>test</p>
            </div>
            <div class="Form">
                <form method="post" asp-controller="user" asp-action="editstat">
                    <input type="hidden" asp-for="UserId" />
                    <></>
                    <b>Name </b><input type="text" asp-for="Name" /><br />
                    <b>Level </b><input type="text" asp-for="Stat.Level" /><br />
                    <b>PLV </b><input type="text" asp-for="Stat.PowerLevel" /><br />
                    <b>Class </b><input type="text" asp-for="Stat.Class" /><br />
                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
