@using RaidFinder.Models
@inject IHttpContextAccessor contxt;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>this is there issssss user id @contxt.HttpContext.Session.GetInt32("UserId")</h1>

<form>
    <button  asp-action="logout" asp-controller="Account">
        Logout
    </button>
</form>
