@using RaidFinder.Models
@inject IHttpContextAccessor contxt;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/lib/css/navbar.css">
	@RenderSection("AdditionalCSS",required: false)
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/043b90f15a.js" crossorigin="anonymous"></script>
</head>
<body>
	<h1 class="webtab">
		<a href='#' class="logo">Raids Finder</a>
		<input type="checkbox" id="toggle">
		<label for="toggle">
			<i class="fa-solid fa-bars" style="color:white;"></i>
		</label>
		<nav class="navbar">
			<li>
				<ul><a href="/home">Home</a></ul>
				<ul><a href="/home/addpost">Create Room</a></ul>
				@if (contxt.HttpContext.Session.GetInt32("UserId") == null || contxt.HttpContext.Session.GetInt32("UserId") == 0)
				{
					<ul><a href="/account/login">Log In</a></ul>
					<ul><a href="/account/register">Sign Up</a></ul>
				}
				else
				{
					<ul><a href="/user/Profile/@contxt.HttpContext.Session.GetInt32("UserId")">Profile</a></ul>
					<ul><a href="/account/logout">Log Out</a></ul>
				}
			</li>
		</nav>
	</h1>

	<div>
		@RenderBody()
	</div>
</body>
</html>
