@using RaidFinder.Models
@inject IHttpContextAccessor contxt;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RaidingPostModels

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaidFinder</title>
    <link rel="stylesheet" href="~/lib/css/addpost.css">
</head>

<body>
        <header>
            <h1 id="title">Raid Finder</h1>
        </header>
        <div class="text">
            <h2 id="text">Add Post</h2>
        </div>

    <div class="main"> </div>
        <div class="box-container">
            <form id="form" method="post" asp-controller="home" asp-action="addpost">
                <input id="postName" type="hidden" asp-for="Name" name="Name" /><br />
                <label for="NamePost">Post Name</label> </br>
                <input id ="Name" type="text"  name="input" /><br />
                <label for="PowerLevel">Power Level</label></br>
                <input type="text" asp-for="PowerLevel" name="PowerLevel" /><br />
                <label for="MaxSize">Max Size (Max:5)</label></br>
                <input type="number" asp-for="MaxSize" name="MaxSize"min='0' max='5'/><br />
            <label for="Boss">Boss Name</label></br>
            <select id="boss" name="boss">
                <option value="boss1">Devil Jho</option>
                <option value="boss2">Kulve Taroth</option>
                <option value="boss3">Kushala Daora</option>
                <option value="boss4">Lunastra</option>
                <option value="boss5">Nergigante</option>
            </select></br>
                <label for="Description">Description</label></br>
                <textarea id="Des" name="Description" rows="5" cols="20" maxlength="100" asp-for="Description">
            </textarea></br>
                <label for="TimeOut setting">Timeout setting</label></br>
                <div class="Box">
                    <input type="number" min="0" max="99" name="Hour" placeholder="Hour" />
                    <input type="number" min="0" max="99" name="Minute"  placeholder="Min" />
                </div>
                <br />
                <input id="ownerId" type="hidden" asp-for="OwnerId" value="@contxt.HttpContext.Session.GetInt32("UserId")" /><br />
                <input type="submit" value="Save" />
            </form>
        </div>
    <script src="~/lib/js/post.js"></script>
    

</body>

</html>