@{
	ViewData["Title"] = "RoomInfo";
	Layout = "~/Views/Shared/Navbar.cshtml";
}

@section AdditionalCSS {
	<link rel="stylesheet" href="~/lib/css/contact.css">
}

<div>
	<section>
		<div class="wave" id="wave1" style="--i:1"></div>
		<div class="wave" id="wave2" style="--i:2"></div>
		<div class="wave" id="wave3" style="--i:3"></div>
		<div class="wave" id="wave4" style="--i:4"></div>
	</section>
	<div class="contacts">
		<h1>Team Member</h1>
		<div class="teammember">
			<img src="https://cdn.discordapp.com/attachments/1209874309896609863/1217454038224732221/IMG_8773.png?ex=6604156d&is=65f1a06d&hm=32e7c2c974311356d8c97d8f2f59aa6da4f8cd4ebccc781256341f387a72e343&" />
			<span id="border"></span>
			<div id="information">
				<div>นายพิทักษ์พงษ์ สาวงศ์นาม</div>
				<div>65010745</div>
				<div id="quote">
					<p>Quote</p>
					<q>กูขอคิดแปปนึง</q>
				</div>
				<li>
					<ul><span class="fa-ul"><i class="fa fa-github" style="font-size:36px"></i></span><a href="https://github.com/pithakpong">Github</a></ul>
					<ul><span class="fa-ul"><i class="fa fa-instagram" style="font-size:36px"></i></span><a href="https://www.instagram.com/namningnamning9/">Instagram</a></ul>
					<ul><span class="fa-ul"><i class="fa-brands fa-line"></i></span>Line ID: namning1212312121</ul>
				</li>
			</div>
		</div>

		<div class="teammember">
			<img src="https://cdn.discordapp.com/attachments/816178775766597642/1217705301617414184/1627025440082.jpg?ex=6604ff6f&is=65f28a6f&hm=c2b16435e6d949c21cb0d40d387051c8c0367ee94c998a0d9db9b2f0bd834fcf&" />
			<span id="border"></span>
			<div id="information">
				<div>นายพลภัทร จินตธรรม</div>
				<div>65010700</div>
				<div id="quote">
					<p>Quote</p>
					<q>กูขอคิดแปปนึง</q>
				</div>
				<li>
					<ul><span class="fa-ul"><i class="fa fa-github" style="font-size:36px"></i></span><a href="https://github.com/Rezzpect">Github</a></ul>
					<ul><span class="fa-ul"><i class="fa fa-instagram" style="font-size:36px"></i></span><a href="https://www.instagram.com/rez.pec/">Instagram</a></ul>
					<ul><span class="fa-ul"><i class="fa-brands fa-line"></i></span>Line ID: apec.chin3</ul>
				</li>
			</div>
		</div>

		<div class="teammember">
			<img src="https://media.discordapp.net/attachments/1209874309896609863/1217716655858389002/20240314_131100.jpg?ex=66050a02&is=65f29502&hm=108964641aa9e2ea33726ce0d2408fabfe69af6cedd404dc388a7aeffa4d30d6&=&format=webp&width=883&height=662" />
			<span id="border"></span>
			<div id="information">
				<div>ประกฎษฏิพล สมมูล</div>
				<div>65010597</div>
				<div id="quote">
					<p>Quote</p>
					<q>กูขอคิดแปปนึง</q>
				</div>
				<li>
					<ul><span class="fa-ul"><i class="fa fa-github" style="font-size:36px"></i></span><a href="https://github.com/BBamkorphai">Github</a></ul>
					<ul><span class="fa-ul"><i class="fa fa-instagram" style="font-size:36px"></i></span><a href="https://www.instagram.com/kp_korphai/">Instagram</a></ul>
					<ul><span class="fa-ul"><i class="fa-brands fa-line"></i></span>Line ID: </ul>
				</li>
			</div>
		</div>

		<div class="teammember">
			<img src="https://media.discordapp.net/attachments/1181790126754500719/1217705056607146054/IMG20240313194648.jpg?ex=6604ff35&is=65f28a35&hm=7db35d304f57293da971b31eaead3377e04029be097376c03993997fdd7e4ce3&=&format=webp&width=700&height=700" />
			<span id="border"></span>
			<div id="information">
				<div>ศรุต สมประเสริฐ</div>
				<div>65011019</div>
				<div id="quote">
					<p>Quote</p>
					<q>กูขอคิดแปปนึง</q>
				</div>
				<li>
					<ul><span class="fa-ul"><i class="fa fa-github" style="font-size:36px"></i></span><a href="https://github.com/SarutSomprasert">Github</a></ul>
					<ul><span class="fa-ul"><i class="fa-brands fa-line"></i></span>Line ID: earth2018</ul>
				</li>
			</div>
		</div>

		<div class="teammember">
			<img src="https://cdn.discordapp.com/attachments/1209874309896609863/1217454271893602315/IMG_57821.jpg?ex=660415a5&is=65f1a0a5&hm=2e2dcde1724bfe6e53f0abd75f04b4f30087dd654726f29e926d3b41e1810342&" />
			<span id="border"></span>
			<div id="information">
				<div>นายพรเทพ ธรรมวงศ์</div>
				<div>65010682</div>
				<div id="quote">
					<p>Quote</p>
					<q>กูขอคิดแปปนึง</q>
				</div><br />
				<li>
					<ul><span class="fa-ul"><i class="fa fa-github" style="font-size:36px"></i></span><a href="https://github.com/Kfirm1208">Github</a></ul>
					<ul><span class="fa-ul"><i class="fa fa-instagram" style="font-size:36px"></i></span><a href="https://www.instagram.com/firmcht?igsh=MXNhYnV6ZWY4bHhmdQ%3D%3D&utm_source=qr">Instagram</a></ul>
					<ul><span class="fa-ul"><i class="fa-brands fa-line"></i></span>Line ID: firmchttv</ul>
				</li>
			</div>
		</div>
	</div>
</div>

<script>
	let wave1 = document.getElementById('wave1');
	let wave2 = document.getElementById('wave2');
	let wave3 = document.getElementById('wave3');
	let wave4 = document.getElementById('wave4');

	window.addEventListener('scroll', function () {
		let value = window.scrollY;

		wave1.style.backgroundPositionX = 400 + value * 4 + 'px';
		wave2.style.backgroundPositionX = 300 + value * -4 + 'px';
		wave3.style.backgroundPositionX = 200 + value * 2 + 'px';
		wave4.style.backgroundPositionX = 100 + value * -2 + 'px';
	})

</script>