
@using RaidFinder.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<RaidingPostModels>
@{
	ViewData["Title"] = "Base test";
	Layout = "~/Views/Shared/Navbar.cshtml";
}

@section AdditionalCSS{
	<link rel="stylesheet" href= "~/lib/css/Base.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<script src="~/lib/js/BoxClick.js"></script>
}

<div class="container">

	<div class="container-1">
		<div class="text-party">
			<h2>Party List</h2>
		</div>
		<div class="btn">
			<button type="submit" class="create-btn"><i class="fa fa-plus"></i> Create Your Own</button>
		</div>
	</div>
	<div class="line"></div>

        <div class="grid-container">
		<input type="text" id="search"></input>
		<script src="~/lib/js/search.js"></script>
    </div>
</div>