<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base test</title>
  <link rel="stylesheet" href="~/lib/css/Base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="container">

    <header>
      <h1 id="title">Raid Finder</h1>
      <h2 id="stat">Your Stat</h2>
    </header>

    <div class="container-1">
      <div class="text-party">
        <h2>Party List</h2>
      </div>
      <div class="btn">
        <button type="submit" class="create-btn"><i class="fa fa-plus"></i> Create Your Own</button>
      </div>
    </div>
    <div class="line"></div>

    <div class="grid-container">
      <!-- box 1 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">NorNor(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>
      <!-- box 2 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

      <!-- box3 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

      <!-- box4 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

      <!-- box 5 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

      <!-- box 6 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

      <!-- box 7 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>
      <!-- box 8 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

      <!-- box 9 -->
      <div class="box-item">
        <div class="score">
          <div class="box">
            <span></span>
            <div class="number">
              <b class='top' style="--i:0;">29</b>
              <b class='bot' style="--i:1;">30</b>
            </div>
          </div>
        </div>
        <div class="level">
          <h3>Power Level</h3>
          <h2>19000+</h2>
        </div>
        <div class="line-block"></div>
        <div class="data">
          <h2 class="name">Vakaramasu(IV)</h2>
          <h3 class="info">Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Suscipit sed unde
            odio quis
            voluptatibus ad enim quasi
            optio praesentium.
          </h3>
          <small class="date">02/12/2023 posted</small>
          <div class="icon"><i class="fa fa-plus-circle"></i></div>
        </div>
      </div>

    </div>

</body>

</html>
