<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/css/profile2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="maincontrainer">
        <div class="title">Raid Finder</div>
        <div class="player-name">
            PlayerName
        </div>
        <hr>
        <div class="block-content">
            <div class="profile-image">
                <div class="imagecontrainer"><img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" class="image"  width="240" height="240"></div>
                <div class="level">level ... </div>
                <div class="player-level">power ... </div>
            </div>
            <div class="stat-zone">
                <div class="number-stat">
                    <div class="num-st1">point1 : 32</div> 
                    <div class="num-st2">point2 : 32</div>
                    <div class="num-st3">point3 : 32</div>
                    <div class="num-st4">point4 : 32</div>
                    <div class="num-st5">point5 : 32</div>
                </div>
                <div class="bar-stat">
                    <progress class="bar-st1" value="32" max="100">32%</progress>
                    <progress class="bar-st2" value="32" max="100">32%</progress>
                    <progress class="bar-st3" value="32" max="100">32%</progress>
                    <progress class="bar-st4" value="32" max="100">32%</progress>
                    <progress class="bar-st5" value="32" max="100">32%</progress>
                    </br >
                    <button type="button" class="button">Back</button>
                </div>
            </div>
        </div>
        </br >
        </br >
        
    </div>    
</body>
</html>
