<html>
<head>
    <title>RoomInfo</title>
    <link rel="stylesheet" href="roominfo.css">
</head>
<body style="background-color:black">
    <h1 class="topnav"><b>Raids Finder</b></h1>
    <div>
        <div class="subnav">
            <h2><b>Party List</b></h2>
            <button><b>+ create your own</b></button>
        </div><hr>
        <div class="room">
            <div class="roominfo">
                <div>
                    <div class="box">
                        <span></span>
                        <div class="number">
                            <b class='top' style="--i:0;">29</b>
                            <b class='bot' style="--i:1;">30</b>
                        </div>
                    </div>
                    <div class="roomtitle">
                        <h2>POWER LEVEL</h2>
                        <b>100000</b>
                    </div>
                </div>
                <div class="roomdest" style="border-left:solid white">
                    <h2>I EARTH MANGGGGG (0-0)</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div><hr>
            <div class="memberlist">
                <div>
                    <img src="https://cdn4.sharechat.com/img_945769_3157a239_1674544942589_sc.jpg?tenant=sc&referrer=tag-service&f=589_sc.jpg">
                    <h3><b>Party Leader</b></h3>
                    <p>---- LV--</p>
                    <p>PW -----</p>
                </div>
                <div>
                    <img src="https://cdn4.sharechat.com/img_945769_3157a239_1674544942589_sc.jpg?tenant=sc&referrer=tag-service&f=589_sc.jpg">
                    <h3><b>Player 2</b></h3>
                    <p>---- LV--</p>
                    <p>PW -----</p>
                </div>
                <div>
                    <img src="https://cdn4.sharechat.com/img_945769_3157a239_1674544942589_sc.jpg?tenant=sc&referrer=tag-service&f=589_sc.jpg">
                    <h3><b>Player 3</b></h3>
                    <p>---- LV--</p>
                    <p>PW -----</p>
                </div>
                <div>
                    <img src="https://cdn4.sharechat.com/img_945769_3157a239_1674544942589_sc.jpg?tenant=sc&referrer=tag-service&f=589_sc.jpg">
                    <h3><b>Player 4</b></h3>
                    <p>---- LV--</p>
                    <p>PW -----</p>
                </div>
                <div>
                    <img src="https://cdn4.sharechat.com/img_945769_3157a239_1674544942589_sc.jpg?tenant=sc&referrer=tag-service&f=589_sc.jpg">
                    <h3><b>Player 5</b></h3>
                    <p>---- LV--</p>
                    <p>PW -----</p>
                </div>
                <div>
                    <img src="https://cdn4.sharechat.com/img_945769_3157a239_1674544942589_sc.jpg?tenant=sc&referrer=tag-service&f=589_sc.jpg">
                    <h3><b>Player 6</b></h3>
                    <p>---- LV--</p>
                    <p>PW -----</p>
                </div>
            </div>

            <button class="join"> + Join team </button>
        </div>
    </div>
</body>
</html>
