<link rel="stylesheet" type="text/css" href="styles.css">
<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/css/login.css">
</head>

<body>
    <div class="Container">
        <div class="LogoImage">
            <img src="~/image/RaidFinder.png" width="300px" />
        </div>
        <div class="Placeholder"></div>
        <div class="LoginBlock">
            <h1>LOGIN</h1>
            <div class="Separator"></div>
            <h2>USERNAME</h2>
            <input type="text" id="username" name="text_input">
            <h2>PASSWORD</h2>
            <input type="text" id="password" name="text_input">
            <br>
            <div class="Separator"></div>
            <div class="Buttons">
                <button id="login">login</button>
                <div class="ButtonSpacer"></div>
                <button id="sign-in">sign in</button>
            </div>
        </div>
    </div>
</body>

</html>
