<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/css/register.css">
</head>

<body>
    <div class="Container">
        <div class="LoginBlock">
            <h1>REGISTER</h1>
            <div class="Separator"></div>
            <form method="post" action="@Url.Action("Register","Account")">
                <h2>USERNAME</h2>
                <input type="text" id="username" name="username">
                <h2>PASSWORD</h2>
                <input type="text" id="password" name="password">
                <br>
                <div class="Separator"></div>
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</body>

</html>
